##################################################################################
## b2bTop.ucf		Constraints file for B2B module on the BEE3
## Philip Watts 5/5/2010


################################ CLOCK CONSTRAINTS ##############################
# User Clock Contraint: the value is selected based on the line rate (3125Mbps) of the module
NET "user_clk_i" TNM_NET = USER_CLK;
TIMESPEC TS_user_clk_i = PERIOD "USER_CLK" 6.4 ns HIGH 50%;
# Sync Clock Constraint
NET sync_clk_i PERIOD = 3.2 ns HIGH 50%;

# Reference clock contraint for GTP
NET GTPD7_left_i PERIOD = 6.4 ns HIGH 50%;

################## GTP CLOCK Locations ###############################

NET B2B_REFCLK_P  LOC=D8; 
NET B2B_REFCLK_N  LOC=C8; 


###################Not required in long term###########################################
NET frame_check_i/* TIG;
NET frame_check2_i/* TIG;
#######################################################################################

################## GTP TILE LOCATIONS #################################
INST aurora_module_i/gtp_wrapper_i/GTP_TILE_INST/gtp_tile_i LOC=GTP_DUAL_X0Y6;
INST aurora_module_i/gtp_wrapper_i/GTP_TILE_INST_LANE1/gtp_tile_i LOC=GTP_DUAL_X0Y7;
INST aurora_module2_i/gtp_wrapper_i/GTP_TILE_INST/gtp_tile_i LOC=GTP_DUAL_X0Y4;
INST aurora_module2_i/gtp_wrapper_i/GTP_TILE_INST_LANE1/gtp_tile_i LOC=GTP_DUAL_X0Y5;
