

################################################################################
## c2cTop.ucf
## USER CONSTRAINTS FILE FOR BEE3 - chip-to-chip test
## Philip Watts 18/3/2010
##
## Modified by Philip Watts 20/4/2010 to separate constraints for use of c2cTop as stand-alone 
## top level module and constraints for full C3D build 
##
## Device:  xc5vlx155t
## Package: ff1136
################################################################################

# Constraints for use of c2cTop.v as a stand-alone top level module

################################## Clock Constraints ##########################

NET "CLK" TNM_NET = "CLK";
TIMESPEC "TS_CLK" = PERIOD "CLK" 6.4;

#NET "inst_c2c1/swClock" TNM_NET = "swClock1";
#TIMESPEC TS_swClock1 = PERIOD "swClock1" 6.4 ns HIGH 50%;

#NET "inst_c2c2/swClock" TNM_NET = "swClock2";
#TIMESPEC TS_swClock2 = PERIOD "swClock2" 6.4 ns HIGH 50%;

NET "MCLK" TNM_NET = "MCLK";
TIMESPEC TS_MCLK = PERIOD "MCLK" 6.4 ns HIGH 50%;

NET "MCLK180" TNM_NET = "MCLK180";
TIMESPEC TS_MCLK180x = PERIOD "MCLK180" 6.4 ns HIGH 50%;

######################## locs for top level ports ############################

#100M clock pins
NET CLK100M_N   LOC = AG15 | IOSTANDARD = LVDS_25;
NET CLK100M_P   LOC = AH15 | IOSTANDARD = LVDS_25;

###########################################################################
# All constraints below this mark will be copied into the main build's
# constraints file.
#
# C3D _TOP_LEVEL_BUILD
#
###########################################################################

# Ring Up
NET C2C_U_IN<0> 		LOC = AC4  | IOSTANDARD = SSTL18_II_DCI | PULLDOWN;
NET C2C_U_IN<1> 		LOC = AC5  | IOSTANDARD = SSTL18_II_DCI | PULLDOWN;
NET C2C_U_IN<2> 		LOC = AB6  | IOSTANDARD = SSTL18_II_DCI | PULLDOWN;
NET C2C_U_IN<3> 		LOC = AB7  | IOSTANDARD = SSTL18_II_DCI | PULLDOWN;
NET C2C_U_IN<4> 		LOC = AA5  | IOSTANDARD = SSTL18_II_DCI | PULLDOWN;
NET C2C_U_IN<5> 		LOC = AB5  | IOSTANDARD = SSTL18_II_DCI | PULLDOWN;
NET C2C_U_IN<6> 		LOC = AC7  | IOSTANDARD = SSTL18_II_DCI | PULLDOWN;
NET C2C_U_IN<7> 		LOC = AD7  | IOSTANDARD = SSTL18_II_DCI | PULLDOWN;
NET C2C_U_IN<8> 		LOC = Y8   | IOSTANDARD = SSTL18_II_DCI | PULLDOWN;
NET C2C_U_IN<9> 		LOC = AD4  | IOSTANDARD = SSTL18_II_DCI | PULLDOWN;
NET C2C_U_IN<10> 		LOC = AD5  | IOSTANDARD = SSTL18_II_DCI | PULLDOWN;
NET C2C_U_IN<11> 		LOC = AA6  | IOSTANDARD = SSTL18_II_DCI | PULLDOWN;
NET C2C_U_IN<12> 		LOC = Y7   | IOSTANDARD = SSTL18_II_DCI | PULLDOWN;
NET C2C_U_IN<13> 		LOC = AK7  | IOSTANDARD = SSTL18_II_DCI | PULLDOWN;
NET C2C_U_IN<14> 		LOC = AK6  | IOSTANDARD = SSTL18_II_DCI | PULLDOWN;
NET C2C_U_IN<15> 		LOC = AH7  | IOSTANDARD = SSTL18_II_DCI | PULLDOWN;
NET C2C_U_IN<16> 		LOC = AB10 | IOSTANDARD = SSTL18_II_DCI | PULLDOWN;
NET C2C_U_IN<17> 		LOC = AA10 | IOSTANDARD = SSTL18_II_DCI | PULLDOWN;
NET C2C_U_IN<18> 		LOC = AA8  | IOSTANDARD = SSTL18_II_DCI | PULLDOWN;
NET C2C_U_IN<19> 		LOC = AA9  | IOSTANDARD = SSTL18_II_DCI | PULLDOWN;
NET C2C_U_IN<20> 		LOC = AC8  | IOSTANDARD = SSTL18_II_DCI | PULLDOWN;
NET C2C_U_IN<21> 		LOC = AB8  | IOSTANDARD = SSTL18_II_DCI | PULLDOWN;
NET C2C_U_IN<22> 		LOC = AJ9  | IOSTANDARD = SSTL18_II_DCI | PULLDOWN;
NET C2C_U_IN<23> 		LOC = AH9  | IOSTANDARD = SSTL18_II_DCI | PULLDOWN;
NET C2C_U_IN<24> 		LOC = AK8  | IOSTANDARD = SSTL18_II_DCI | PULLDOWN;
NET C2C_U_IN<25> 		LOC = AH10 | IOSTANDARD = SSTL18_II_DCI | PULLDOWN;
NET C2C_U_IN<26> 		LOC = AF11 | IOSTANDARD = SSTL18_II_DCI | PULLDOWN;
NET C2C_U_IN<27> 		LOC = AP14 | IOSTANDARD = SSTL18_II_DCI | PULLDOWN;
NET C2C_U_IN<28> 		LOC = AG8  | IOSTANDARD = SSTL18_II_DCI | PULLDOWN;
NET C2C_U_IN<29> 		LOC = AH8  | IOSTANDARD = SSTL18_II_DCI | PULLDOWN;
NET C2C_U_IN<30> 		LOC = AG10 | IOSTANDARD = SSTL18_II_DCI | PULLDOWN;
NET C2C_U_IN<31> 		LOC = AG11 | IOSTANDARD = SSTL18_II_DCI | PULLDOWN;
NET C2C_U_OUT<0> 		LOC = AA25 | IOSTANDARD = SSTL18_II_DCI ;
NET C2C_U_OUT<1> 		LOC = AA26 | IOSTANDARD = SSTL18_II_DCI ;
NET C2C_U_OUT<2> 		LOC = AB27 | IOSTANDARD = SSTL18_II_DCI ;
NET C2C_U_OUT<3> 		LOC = AC27 | IOSTANDARD = SSTL18_II_DCI ;
NET C2C_U_OUT<4> 		LOC = Y24  | IOSTANDARD = SSTL18_II_DCI ;
NET C2C_U_OUT<5> 		LOC = AA24 | IOSTANDARD = SSTL18_II_DCI ;
NET C2C_U_OUT<6> 		LOC = AB25 | IOSTANDARD = SSTL18_II_DCI ;
NET C2C_U_OUT<7> 		LOC = AB26 | IOSTANDARD = SSTL18_II_DCI ;
NET C2C_U_OUT<8> 		LOC = AC28 | IOSTANDARD = SSTL18_II_DCI ;
NET C2C_U_OUT<9> 		LOC = AB28 | IOSTANDARD = SSTL18_II_DCI ;
NET C2C_U_OUT<10> 		LOC = AA28 | IOSTANDARD = SSTL18_II_DCI ;
NET C2C_U_OUT<11> 		LOC = AC25 | IOSTANDARD = SSTL18_II_DCI ;
NET C2C_U_OUT<12> 		LOC = AC24 | IOSTANDARD = SSTL18_II_DCI ;
NET C2C_U_OUT<13> 		LOC = AD26 | IOSTANDARD = SSTL18_II_DCI ;
NET C2C_U_OUT<14> 		LOC = AD25 | IOSTANDARD = SSTL18_II_DCI ;
NET C2C_U_OUT<15> 		LOC = AD24 | IOSTANDARD = SSTL18_II_DCI ;
NET C2C_U_OUT<16> 		LOC = Y26  | IOSTANDARD = SSTL18_II_DCI ;
NET C2C_U_OUT<17> 		LOC = Y27  | IOSTANDARD = SSTL18_II_DCI ;
NET C2C_U_OUT<18> 		LOC = W29  | IOSTANDARD = SSTL18_II_DCI ;
NET C2C_U_OUT<19> 		LOC = V27  | IOSTANDARD = SSTL18_II_DCI ;
NET C2C_U_OUT<20> 		LOC = AC29 | IOSTANDARD = SSTL18_II_DCI ;
NET C2C_U_OUT<21> 		LOC = AF31 | IOSTANDARD = SSTL18_II_DCI ;
NET C2C_U_OUT<22> 		LOC = AE29 | IOSTANDARD = SSTL18_II_DCI ;
NET C2C_U_OUT<23> 		LOC = V29  | IOSTANDARD = SSTL18_II_DCI ;
NET C2C_U_OUT<24> 		LOC = AJ31 | IOSTANDARD = SSTL18_II_DCI ;
NET C2C_U_OUT<25> 		LOC = AK31 | IOSTANDARD = SSTL18_II_DCI ;
NET C2C_U_OUT<26> 		LOC = AF29 | IOSTANDARD = SSTL18_II_DCI ;
NET C2C_U_OUT<27> 		LOC = AF30 | IOSTANDARD = SSTL18_II_DCI ;
NET C2C_U_OUT<28> 		LOC = AJ30 | IOSTANDARD = SSTL18_II_DCI ;
NET C2C_U_OUT<29> 		LOC = AH30 | IOSTANDARD = SSTL18_II_DCI ;
NET C2C_U_OUT<30> 		LOC = AH29 | IOSTANDARD = SSTL18_II_DCI ;
NET C2C_U_OUT<31> 		LOC = AG30 | IOSTANDARD = SSTL18_II_DCI ;
#NET RING_UP<64> 	LOC = AM15 | IOSTANDARD = SSTL18_II_DCI ;
#NET RING_UP<65> 	LOC = AL15 | IOSTANDARD = SSTL18_II_DCI ;
#NET RING_UP<66> 	LOC = AL14 | IOSTANDARD = SSTL18_II_DCI ;
#NET RING_UP<67> 	LOC = AP17 | IOSTANDARD = SSTL18_II_DCI ;
#NET RING_UP<68> 	LOC = AN15 | IOSTANDARD = SSTL18_II_DCI ;
#NET RING_UP<69> 	LOC = AP15 | IOSTANDARD = SSTL18_II_DCI ;
#NET RING_UP<70> 	LOC = AM17 | IOSTANDARD = SSTL18_II_DCI ;
#NET RING_UP<71> 	LOC = AN17 | IOSTANDARD = SSTL18_II_DCI ;
NET C2C_U_LOCK_IN   	LOC = AE7  | IOSTANDARD = SSTL18_II_DCI | PULLDOWN;
NET C2C_U_LOCK_OUT 	  	LOC = AE8  | IOSTANDARD = SSTL18_II_DCI | PULLDOWN;
NET C2C_U_RDY_IN 	  	LOC = AK28 | IOSTANDARD = SSTL18_II_DCI | PULLDOWN;
NET C2C_U_RDY_OUT    	LOC = AA29 | IOSTANDARD = SSTL18_II_DCI | PULLDOWN;
#NET RING_UP_ST<4> 	LOC = AJ21 | IOSTANDARD = SSTL18_II_DCI ;

# Ring DOWN wiring
NET C2C_D_OUT<0> 		LOC = M6  | IOSTANDARD = SSTL18_II_DCI ;
NET C2C_D_OUT<1> 		LOC = M5  | IOSTANDARD = SSTL18_II_DCI ;
NET C2C_D_OUT<2> 		LOC = N8  | IOSTANDARD = SSTL18_II_DCI ;
NET C2C_D_OUT<3> 		LOC = N7  | IOSTANDARD = SSTL18_II_DCI ;
NET C2C_D_OUT<4> 		LOC = M7  | IOSTANDARD = SSTL18_II_DCI ;
NET C2C_D_OUT<5> 		LOC = N5  | IOSTANDARD = SSTL18_II_DCI ;
NET C2C_D_OUT<6> 		LOC = L4  | IOSTANDARD = SSTL18_II_DCI ;
NET C2C_D_OUT<7> 		LOC = P7  | IOSTANDARD = SSTL18_II_DCI ;
NET C2C_D_OUT<8> 		LOC = G5  | IOSTANDARD = SSTL18_II_DCI ;
NET C2C_D_OUT<9> 		LOC = F5  | IOSTANDARD = SSTL18_II_DCI ;
NET C2C_D_OUT<10> 		LOC = F6  | IOSTANDARD = SSTL18_II_DCI ;
NET C2C_D_OUT<11> 		LOC = T11 | IOSTANDARD = SSTL18_II_DCI ;
NET C2C_D_OUT<12> 		LOC = G6  | IOSTANDARD = SSTL18_II_DCI ;
NET C2C_D_OUT<13> 		LOC = G7  | IOSTANDARD = SSTL18_II_DCI ;
NET C2C_D_OUT<14> 		LOC = E6  | IOSTANDARD = SSTL18_II_DCI ;
NET C2C_D_OUT<15> 		LOC = E7  | IOSTANDARD = SSTL18_II_DCI ;
NET C2C_D_OUT<16> 		LOC = E9  | IOSTANDARD = SSTL18_II_DCI ;
NET C2C_D_OUT<17> 		LOC = E8  | IOSTANDARD = SSTL18_II_DCI ;
NET C2C_D_OUT<18> 		LOC = F9  | IOSTANDARD = SSTL18_II_DCI ;
NET C2C_D_OUT<19> 		LOC = F8  | IOSTANDARD = SSTL18_II_DCI ;
NET C2C_D_OUT<20> 		LOC = F10 | IOSTANDARD = SSTL18_II_DCI ;
NET C2C_D_OUT<21> 		LOC = G10 | IOSTANDARD = SSTL18_II_DCI ;
NET C2C_D_OUT<22> 		LOC = G8  | IOSTANDARD = SSTL18_II_DCI ;
NET C2C_D_OUT<23> 		LOC = H8  | IOSTANDARD = SSTL18_II_DCI ;
NET C2C_D_OUT<24> 		LOC = K11 | IOSTANDARD = SSTL18_II_DCI ;
NET C2C_D_OUT<25> 		LOC = J9  | IOSTANDARD = SSTL18_II_DCI ;
NET C2C_D_OUT<26> 		LOC = H10 | IOSTANDARD = SSTL18_II_DCI ;
NET C2C_D_OUT<27> 		LOC = H9  | IOSTANDARD = SSTL18_II_DCI ;
NET C2C_D_OUT<28> 		LOC = G11 | IOSTANDARD = SSTL18_II_DCI ;
NET C2C_D_OUT<29> 		LOC = F11 | IOSTANDARD = SSTL18_II_DCI ;
NET C2C_D_OUT<30> 		LOC = E11 | IOSTANDARD = SSTL18_II_DCI ;
NET C2C_D_OUT<31> 		LOC = L9  | IOSTANDARD = SSTL18_II_DCI ;
NET C2C_D_IN<0> 		LOC = K24 | IOSTANDARD = SSTL18_II_DCI | PULLDOWN;
NET C2C_D_IN<1> 		LOC = L24 | IOSTANDARD = SSTL18_II_DCI | PULLDOWN;
NET C2C_D_IN<2> 		LOC = L25 | IOSTANDARD = SSTL18_II_DCI | PULLDOWN;
NET C2C_D_IN<3> 		LOC = L26 | IOSTANDARD = SSTL18_II_DCI | PULLDOWN;
NET C2C_D_IN<4> 		LOC = M25 | IOSTANDARD = SSTL18_II_DCI | PULLDOWN;
NET C2C_D_IN<5> 		LOC = M26 | IOSTANDARD = SSTL18_II_DCI | PULLDOWN;
NET C2C_D_IN<6> 		LOC = M28 | IOSTANDARD = SSTL18_II_DCI | PULLDOWN;
NET C2C_D_IN<7> 		LOC = N28 | IOSTANDARD = SSTL18_II_DCI | PULLDOWN;
NET C2C_D_IN<8> 		LOC = P26 | IOSTANDARD = SSTL18_II_DCI | PULLDOWN;
NET C2C_D_IN<9> 		LOC = P27 | IOSTANDARD = SSTL18_II_DCI | PULLDOWN;
NET C2C_D_IN<10> 		LOC = N24 | IOSTANDARD = SSTL18_II_DCI | PULLDOWN;
NET C2C_D_IN<11> 		LOC = P24 | IOSTANDARD = SSTL18_II_DCI | PULLDOWN;
NET C2C_D_IN<12> 		LOC = P25 | IOSTANDARD = SSTL18_II_DCI | PULLDOWN;
NET C2C_D_IN<13> 		LOC = N25 | IOSTANDARD = SSTL18_II_DCI | PULLDOWN;
NET C2C_D_IN<14> 		LOC = R24 | IOSTANDARD = SSTL18_II_DCI | PULLDOWN;
NET C2C_D_IN<15> 		LOC = T24 | IOSTANDARD = SSTL18_II_DCI | PULLDOWN;
NET C2C_D_IN<16> 		LOC = E29 | IOSTANDARD = SSTL18_II_DCI | PULLDOWN;
NET C2C_D_IN<17> 		LOC = F29 | IOSTANDARD = SSTL18_II_DCI | PULLDOWN;
NET C2C_D_IN<18> 		LOC = G30 | IOSTANDARD = SSTL18_II_DCI | PULLDOWN;
NET C2C_D_IN<19> 		LOC = F30 | IOSTANDARD = SSTL18_II_DCI | PULLDOWN;
NET C2C_D_IN<20> 		LOC = H29 | IOSTANDARD = SSTL18_II_DCI | PULLDOWN;
NET C2C_D_IN<21> 		LOC = F31 | IOSTANDARD = SSTL18_II_DCI | PULLDOWN;
NET C2C_D_IN<22> 		LOC = E31 | IOSTANDARD = SSTL18_II_DCI | PULLDOWN;
NET C2C_D_IN<23> 		LOC = G31 | IOSTANDARD = SSTL18_II_DCI | PULLDOWN;
NET C2C_D_IN<24> 		LOC = U30 | IOSTANDARD = SSTL18_II_DCI | PULLDOWN;
NET C2C_D_IN<25> 		LOC = T28 | IOSTANDARD = SSTL18_II_DCI | PULLDOWN;
NET C2C_D_IN<26> 		LOC = U27 | IOSTANDARD = SSTL18_II_DCI | PULLDOWN;
NET C2C_D_IN<27> 		LOC = U28 | IOSTANDARD = SSTL18_II_DCI | PULLDOWN;
NET C2C_D_IN<28> 		LOC = U26 | IOSTANDARD = SSTL18_II_DCI | PULLDOWN;
NET C2C_D_IN<29> 		LOC = T26 | IOSTANDARD = SSTL18_II_DCI | PULLDOWN;
NET C2C_D_IN<30> 		LOC = U25 | IOSTANDARD = SSTL18_II_DCI | PULLDOWN;
NET C2C_D_IN<31> 		LOC = T25 | IOSTANDARD = SSTL18_II_DCI | PULLDOWN;
#NET RING_DN<64> 	LOC = B16 | IOSTANDARD = SSTL18_II_DCI ;
#NET RING_DN<65> 	LOC = B15 | IOSTANDARD = SSTL18_II_DCI ;
#NET RING_DN<66> 	LOC = B17 | IOSTANDARD = SSTL18_II_DCI ;
#NET RING_DN<67> 	LOC = A15 | IOSTANDARD = SSTL18_II_DCI ;
#NET RING_DN<68> 	LOC = C15 | IOSTANDARD = SSTL18_II_DCI ;
#NET RING_DN<69> 	LOC = C17 | IOSTANDARD = SSTL18_II_DCI ;
#NET RING_DN<70> 	LOC = D15 | IOSTANDARD = SSTL18_II_DCI ;
#NET RING_DN<71> 	LOC = G21 | IOSTANDARD = SSTL18_II_DCI ;
NET C2C_D_LOCK_OUT 		LOC = H7  | IOSTANDARD = SSTL18_II_DCI | PULLDOWN;
NET C2C_D_LOCK_IN 		LOC = J10 | IOSTANDARD = SSTL18_II_DCI | PULLDOWN;
NET C2C_D_RDY_OUT 		LOC = G27 | IOSTANDARD = SSTL18_II_DCI | PULLDOWN;
NET C2C_D_RDY_IN 		LOC = N29 | IOSTANDARD = SSTL18_II_DCI | PULLDOWN;
#NET RING_DN_ST<4> 	LOC = F21 | IOSTANDARD = SSTL18_II_DCI ;


